---
layout: default
title: Tag List
permalink: "list/index.html"
---

<h1 class="text-3xl leading-normal font-bold mt-0 mb-7 text-center">{{ title }}</h1>
<div class="flex justify-center flex-wrap">
    {% for name,length in collections.list %}
        {{ name | capitalize }}
        {{ length | safe }}
       
    </a>
    {% endfor %}
</div>