---
layout: default
eleventyExcludeFromCollections: true
pagination:
    data: collections.pagedPostsByTag
    size: 1
    alias: paged
permalink: "tag/{{ paged.tagName | slugMaker }}/{% if paged.number > 1 %}{{ paged.number }}/{% endif %}index.html"
eleventyComputed:
    title: "Tag \"{{ paged.tagName | capitalize }}\""
---

 <div class="row flexTop flexColumn">
    <div class="article">
        <h2 class="bigHeading">Tag With {{ paged.tagName | capitalize }}</h2>
        {% include "partials/post-item.njk" %}
        {% if collections.tagList[paged.tagName] > site.paginate %}
            {% include "partials/pagination.njk" %}
        {% endif %}
    </div>
    <div class="sidebar">
        <div class="sidebarContainer">
            {% include "partials/featured-item.njk" %}
        </div>
    </div>
</div>