<footer>
    <div class="footerContainer flex flexColumn">
        <div class="left">
            <ul>
                <li> Made by 
                    <a href="https://www.dincerdegre.com" target="_blank" rel="noopener noreferrer">
                        dincerdegre
                    </a>
                </li>
            </div>
            <div class="right">
                 <span>© 2023 All rights reserved.</span>
            </div>
        </div>
    </footer>