{%- set metaTitle -%}
    {%- if not title -%}{{ site.description | safe }} - {{ site.title }}
    {%- else -%}{{ title | safe }} | {{ site.title }}
    {%- endif -%}
{%- endset -%}
{%- set metaDesc -%}
    {%- if not description -%}{{ site.description | safe }}
    {%- else -%}{{ description | safe }}
    {%- endif -%}
{%- endset -%}
{%- set metaKeywords -%}
    {%- if tags -%}{%- for tag in tags -%}{{ tag }},{%- endfor -%}{%- endif -%}
    {%- if site.keywords -%}
        {%- for keyword in site.keywords -%}
            {{ keyword }}{%- if not loop.last %},{% endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endset -%}
{%- set metaAuthor -%}
    {%- if not author -%}{{ site.author | safe }}
    {%- else -%}{{ author | safe }}
    {%- endif -%}
{%- endset -%}
    <title>{{ metaTitle }}</title>
    <meta name="title" content="{{ metaTitle }}" />
    <meta name="description" content="{{ metaDesc }}" />
    <meta name="keywords" content="{{ metaKeywords }}" />
    <meta name="author" content="{{ metaAuthor }}" />