<div class="paginate">
    <ul class="pagination">
    {%- for pageEntry in pagination.pages %}
        <li>
            <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %} {% if page.url == pagination.hrefs[ loop.index0 ] %} class="active" {% endif %}>{{ loop.index }}</a>
        </li>
    {%- endfor %}
    </ul>
</div>