{%- set lazyImage = "data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%201%201'%20height%3D'500'%20width%3D'960'%20style%3D'background-color%3Argb(203%2C213%2C224)'%2F%3E" -%}
{% for post in paged.posts %}
    <div class="postItem">
        <div class="thumb">
            <div class="imageContainer">
                <a href="{{ post.url | url }}"><img src="{{ lazyImage }}" data-src="{% if post.data.thumb %}{{ post.data.thumb | url }}{% else %}{{ '/assets/images/no-image.svg' | url }}{% endif %}" class="lazy" alt=""/>
                </a>
            </div>
        </div>
        <div class="info">
            <h2>
                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
            </h2>
            <div class="mini">
                {% if post.data.category %}
                    <a href="/category/{{ post.data.category | slugMaker }}" class="postCat">{{ post.data.category | capitalize }}</a>
                {% endif %}
                <span title="Published Date">{{ post.data.page.date | readableDate }}</span>
            </div>
            <p>
                {% if post.data.description %}
                    {{ post.data.description }}
                {% else %}
                    {{ post.templateContent | striptags | truncate(90,true) }}
                {% endif %}
            </p>
            <div class="tags">
                {% if post.data.tags %}
                   {% for tag in post.data.tags %}
                   <a href="/tag/{{ tag | slugMaker }}" class="postTag">{{ tag | capitalize }}</a>
                    
                   {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}